<?php
return [
    'stackdriver' => [
        'logging' => [
            'project_name' => 'example',
            'key_file_path' => '/etc/stackdriver.json',
            'log_channel' => 'example',
            'include_context' => true,
            'log_levels' => [
                'emergency',
                'alert',
                'critical',
                'error',
            ],
        ],
        'error_reporting' => [
            'type_urn' => 'type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent',
        ],
    ],
];
