<?xml version="1.0"?>
<!--
/**
 * config.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/stackdriver/LICENSE.txt
 *
 * @package       AuroraExtensions\Stackdriver
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stackdriver>
            <general>
                <enable>0</enable>
            </general>
            <logging>
                <log_channel>magento</log_channel>
                <log_levels>emergency,alert,critical,error</log_levels>
            </logging>
            <error_reporting>
                <enable>1</enable>
                <type_urn>type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent</type_urn>
                <include_context>1</include_context>
                <service>magento</service>
                <version>latest</version>
            </error_reporting>
        </stackdriver>
    </default>
</config>
