<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/stackdriver/LICENSE.txt
 *
 * @package       AuroraExtensions\Stackdriver
 * @copyright     Copyright (C) 2020 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AuroraExtensions\Stackdriver\Api\StackdriverIntegrationInterface" type="AuroraExtensions\Stackdriver\Model\Service\Stackdriver"/>
    <preference for="AuroraExtensions\Stackdriver\Api\StackdriverAwareLoggerInterface" type="AuroraExtensions\Stackdriver\Model\Logging\Logger"/>
    <preference for="Psr\Log\LoggerInterface" type="AuroraExtensions\Stackdriver\Model\Logging\Logger"/>

    <type name="AuroraExtensions\Stackdriver\Model\Logging\Logger">
        <arguments>
            <argument name="name" xsi:type="string">stackdriver</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Magento\Framework\Logger\Handler\Debug</item>
                <item name="syslog" xsi:type="object">Magento\Framework\Logger\Handler\Syslog</item>
            </argument>
        </arguments>
    </type>
</config>
